$commit-color--pending: #f7efc2
$commit-color--accepted: #dfffda
$commit-color--rejected: #fcdddd

.ghcr__commit--pending
  background: $commit-color--pending !important

.ghcr__commit--accepted
  background: $commit-color--accepted !important

.ghcr__commit--rejected
  background: $commit-color--rejected !important

.ghcr__status-bar
  top: 0
  z-index: 1000
  padding: 10px
  border: 1px solid #cfcfcf
  border-radius: 4px
  background: $commit-color--pending
  overflow: hidden

  span
    float: left

  button
    float: right

.ghcr__status-bar--accepted
  background: $commit-color--accepted

.ghcr__status-bar--rejected
  background: $commit-color--rejected
